.whitepaper h2 {
	font-family: grenadine-mvb !important;
}

.whitepaper {
	background-image: url('../../../Assets/WhitepaperImg.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}
/* .whitepaper:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1c1c1c;
	z-index: -1;
} */
